body{
    transition: all 0.5s;
    background-color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(https://th.bing.com/th/id/R.14f8fd83dac716d2e513ca73df6bab3f?rik=jyYSsA3ZYeBVgg&pid=ImgRaw&r=0);
}

.content{
    padding: 20px 70px;
    margin: 0 10vw;
    background-color: white;
    color: rgb(73, 68, 68);
    border-radius: 20px;
    
}


.dark-mode{
    background: linear-gradient(rgb(87, 92, 133) 0%, rgb(41, 45, 77) 100%);
    color: white;
    border-color: white;
}


button{
    cursor: pointer;
    position:relative;
    height:50px;
    width: 50px;
    background-color: rgb(163, 163, 163);
    border-radius: 20px;
    box-shadow: 0 4px 0 0 grey;
}

button:active{
    top: 2px;
    background-color: lightgray;
    box-shadow: 0 2px 0 0 grey;
}

button #sun{
    display:none;
}

